:root {
    --tea-green: #ccd5aeff;
    --beige: #e9edc9ff;
    --cornsilk: #fefae0ff;
    --papaya-whip: #faedcdff;
    --buff: #d4a373ff;
}

* {
    font-family: "Advent Pro", sans-serif;
    scroll-behavior: smooth;
    cursor: url("/assets/images/pizza.cur"), pointer;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    position: sticky;
    top: 0;
    z-index: 3;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-size: 25px;
}

#home-button {
    font-family: "Advent Pro", sans-serif;
    margin: 0;
}

#meal-title {
    font-family: "Advent Pro", sans-serif;
    font-size: 30px;
}

#drink-title {
    font-family: "Advent Pro", sans-serif;
    font-size: 30px;
}

#accordion-title-label {
    font-size: 20px;
    color: #aaa;
    cursor: url("/assets/images/pizza.cur"), pointer;
}

#card-group {
    display: none;
    justify-content: center;
    margin-top: 50px;
    font-size: 20px;
}

#category-span {
    display: none;
    align-items: center;
    height: 80vh;
    font-size: 75px;
}

#generate-section {
    display: flex;
    align-items: center;
    height: 80vh;
}

#generate-button {
    font-size: 40px;
    margin-bottom: 0;
    border-radius: 30px;
    color: white;
    cursor: url("/assets/images/pizza.cur"), pointer;
}

#menu-button {
    margin: 0;
    margin-left: 10px;
}

#dropdown-button {
    font-size: 25px;
    margin: 0;
    background-color: black;
    cursor: url("/assets/images/pizza.cur"), pointer;
}

#checkbox-dropdown {
    width: 165px;
}

#checkbox-dropdown label {
    font-size: 1rem;
    cursor: url("/assets/images/pizza.cur"), pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

#side-nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #aaa;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

#close-button {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
